In [1]:
import pandas as pd

In [2]:
gdp = pd.read_csv('../data/read_gdp_sector_categories.csv')
gdp.head()

,Category,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3
0,"Agriculture, forestry, fishing, and hunting",196.4,234.7,244.4,238.9,263.3,289.3,298.1,309.3,299.4,280.1,269.4,247.8,235.4,243.0,251.0
1,Mining,279.9,309.5,340.1,398.1,415.4,503.6,488.2,435.0,406.6,388.1,424.1,428.3,399.2,404.4,390.9
2,Utilities,386.6,375.3,390.9,410.3,395.5,456.9,467.8,454.3,454.0,452.0,449.8,430.2,435.8,441.5,433.7
3,Construction,995.0,999.5,1007.5,1044.8,1079.1,1091.2,1117.6,1169.3,1185.6,1202.4,1231.6,1262.7,1291.1,1306.4,1318.6
4,Manufacturing,2296.3,2364.9,2412.8,2561.0,2603.3,2681.2,2686.1,2767.3,2765.6,2789.3,2891.1,2915.7,2880.6,2909.5,2925.1

In [5]:
gdp_melt = pd.melt(gdp, id_vars = 'Category', var_name = 'Year-Qtr', value_name = 'GDP')
gdp_melt.head()

                                      Category Year-Qtr     GDP
0  Agriculture, forestry, fishing, and hunting  2021-Q1   196.4
1                                       Mining  2021-Q1   279.9
2                                    Utilities  2021-Q1   386.6
3                                 Construction  2021-Q1   995.0
4                                Manufacturing  2021-Q1  2296.3

In [7]:
gdp_melt['Year'] = gdp_melt['Year-Qtr'].str.split('-', expand=True)[0]
gdp_melt['Qtr'] = gdp_melt['Year-Qtr'].str.split('-', expand=True)[1]
#gdp_melt[['Year', 'Qtr']] = gdp_melt['Year-Qtr'].str.split('-', expand=True)

In [9]:
gdp_melt = gdp_melt.drop(columns = 'Year-Qtr')
gdp_melt.head()

                                      Category     GDP  Year Qtr
0  Agriculture, forestry, fishing, and hunting   196.4  2021  Q1
1                                       Mining   279.9  2021  Q1
2                                    Utilities   386.6  2021  Q1
3                                 Construction   995.0  2021  Q1
4                                Manufacturing  2296.3  2021  Q1

In [11]:
#gdp_melt.to_csv('read_gdp_sector_clean.csv')

In [13]:
nonfarm_jobs = pd.read_csv('../data/read_nonfarm_employment_change.csv')
nonfarm_jobs.head()

         Release Date        Date Actual Forecast Previous
0  Jan 08, 2025 (Dec)  2024 (Dec)   122K     139K     146K
1  Dec 04, 2024 (Nov)  2024 (Nov)   146K     166K     184K
2  Oct 30, 2024 (Oct)  2024 (Oct)   233K     110K     159K
3  Oct 02, 2024 (Sep)  2024 (Sep)   143K     124K     103K
4  Sep 05, 2024 (Aug)  2024 (Aug)    99K     144K     111K

In [15]:
nonfarm_jobs['Year'] = nonfarm_jobs['Date'].str.split(' ', expand=True)[0]
nonfarm_jobs['Month'] = nonfarm_jobs['Date'].str.split(' ', expand=True)[1]

In [21]:
nonfarm_jobs['Month'] = nonfarm_jobs['Month'].str.replace('(', '', regex=False).str.replace(')', '', regex=False)
nonfarm_jobs = nonfarm_jobs.drop(columns = 'Date')
nonfarm_jobs.head()

         Release Date Actual Forecast Previous  Year Month
0  Jan 08, 2025 (Dec)   122K     139K     146K  2024   Dec
1  Dec 04, 2024 (Nov)   146K     166K     184K  2024   Nov
2  Oct 30, 2024 (Oct)   233K     110K     159K  2024   Oct
3  Oct 02, 2024 (Sep)   143K     124K     103K  2024   Sep
4  Sep 05, 2024 (Aug)    99K     144K     111K  2024   Aug